<div class='modal-gallery js-modal-gallery'>
  <div class='container-img-max js-img-max-conteiner'>
    <img
      class='js-img-max'
      src='{{this.path}}/portrait_uncanny.{{this.extension}}'
      alt='{{this.name}}'
      width='295'
      height='387'
    />
  </div>
  <div class='container-img-min'>
    <ul class='img-list js-img-list'>
      <li class='img-item'>
        <img
          class='js-img-min'
          src='{{this.path}}/standard_medium.{{this.extension}}'
          alt='{{this.name}}'
          width='80'
          height='80'
        />
      </li>
    </ul>
  </div>
</div>
<div class='container-modal-about-char'>
  <div class='modal-about-char js-modal-about-char'>
    <h2 class='modal-char-title'>{{this.name}}</h2>
    <p class='date-comics-modal'>
      {{this.month}}
      {{this.day}},
      {{this.year}}
    </p>
    <p class='about-char-description'>
      {{this.description}}
    </p>
  </div>
  <div class='container-modal-list-comics'>
    <h3 class='modal-comics-list-title'>List of comics</h3>
    <ul class='modal-comics-list js-modal-comics-list'>
      {{#each this}}
        <li class='modal-comics-item'>
          {{#each this.images}}
        <img
          class='comics-img-container'
          src='{{this.path}}/standard_fantastic.{{this.extension}}'
          alt='{{this.title}}'
          width='263px'
          height='263px'
        />
        {{/each}}
        <div class='comics-desc-container'>
          <h3 class='comics-name'>{{this.title}}</h3>
          <p class='actress'>{{this.creators}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>